body {
    background-color:cornflowerblue;
}

main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav {
    gap: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
a{
    color:rgb(255, 230, 0)
}

a:hover{
    color:navy;
    transform: rotate(-5deg);
}